{{page-title 'BackendlessUi'}}
<nav>
  {{#if this.session.isAuthenticated}}
    <ul>
      <li>
        <LinkTo @route="authenticated.files">
          Files
        </LinkTo>
      </li>
      <li>
        <button type="button" {{on 'click' this.signOut}}>
          Sign out
        </button>
      </li>
    </ul>
  {{else}}
    <LinkTo @route="sign-in">
      Sign in
    </LinkTo>
  {{/if}}
</nav>
{{outlet}}